In [4]:
import pandas as pd
from category_encoders import TargetEncoder
from sklearn.model_selection import train_test_split

df = pd.read_csv('data.csv')

In [5]:
df.head()

,age,height_cm,weight_kgs,nationality,overall_rating,potential,preferred_foot,weak_foot(1-5),skill_moves(1-5),crossing,...,positions_GK,positions_LB,positions_LM,positions_LW,positions_LWB,positions_RB,positions_RM,positions_RW,positions_RWB,positions_ST
0,27,177.606642,76.2,Denmark,88,89,1,5,4,88,...,0,0,0,0,0,0,1,0,0,0
1,25,190.500000,83.9,France,88,91,1,4,5,80,...,0,0,0,0,0,0,0,0,0,0
2,27,162.560000,59.0,Italy,88,88,1,4,4,86,...,0,0,0,1,0,0,0,0,0,1
3,27,187.960000,88.9,Senegal,88,91,1,3,2,30,...,0,0,0,0,0,0,0,0,0,0
4,27,193.040000,92.1,Netherlands,88,90,1,3,2,53,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Tách tập dữ liệu thành tập huấn luyện và tập kiểm tra
y = df['overall_rating']  # Biến mục tiêu
X = df.drop(columns=['overall_rating'])  # Các thuộc tính đầu vào
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=42)

# Áp dụng Target Encoding cho cột 'nationality'
target_encoder = TargetEncoder()
X_train['nationality_encoded'] = target_encoder.fit_transform(X_train['nationality'], y_train)
X_test['nationality_encoded'] = target_encoder.transform(X_test['nationality'])

# Xóa cột 'nationality' gốc nếu không cần thiết
X_train.drop(columns=['nationality'], inplace=True)
X_test.drop(columns=['nationality'], inplace=True)

print("Dữ liệu huấn luyện sau khi mã hóa:")
X_train.head()

Dữ liệu huấn luyện sau khi mã hóa:

,age,height_cm,weight_kgs,potential,preferred_foot,weak_foot(1-5),skill_moves(1-5),crossing,finishing,heading_accuracy,...,positions_LB,positions_LM,positions_LW,positions_LWB,positions_RB,positions_RM,positions_RW,positions_RWB,positions_ST,nationality_encoded
15634,31,182.880000,77.1,73,1,4,3,64,73,58,...,0,0,1,0,0,0,0,0,1,68.070064
8147,20,182.102830,78.0,78,1,3,3,44,58,45,...,0,0,0,0,0,0,0,0,0,69.779778
13167,23,181.366882,73.0,77,1,3,3,64,47,56,...,0,0,0,0,1,0,0,0,0,65.710351
10766,27,190.500000,76.2,67,1,3,2,53,38,60,...,0,0,0,0,0,0,0,0,0,63.675918
15695,24,182.880000,76.2,78,0,4,3,68,62,57,...,0,0,0,0,0,0,0,0,0,71.076067

In [8]:
X = pd.concat([X_train, X_test])
y = pd.concat([y_train, y_test])

df = pd.concat([X, y], axis=1)

df.to_csv('data_encoded.csv', index=False)